@use 'abstracts/index' as *;

.container {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  gap: 0 8px;
}

.checkBox {
  appearance: auto;
}

.text {
  font-size: 14px;
  line-height: 1;
}

.color {
  aspect-ratio: 1 / 1;
  display: block;
  width: 8px;
}
