@use 'abstracts/index' as *;

.container {
  position: relative;
}

.title {
  background: #3f3f3f;
  color: #fff;
  font-weight: bold;
  padding: 24px;
  text-align: center;
}

.inner {
  opacity: 0;
  padding: 24px;
  pointer-events: none;
  transition: opacity 0.5s var(--ease-out-sine);

  &[data-is-ready='true'] {
    opacity: 1;
    pointer-events: auto;
  }
}
