@use 'abstracts/index' as *;

.container {
  padding: 16px;
  position: relative;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.checkBoxList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin-top: 16px;
  row-gap: 10px;
}
