@use 'abstracts/index' as *;

.container {
  padding: 16px;
  position: relative;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.categoryList {
  display: flex;
  gap: 0 1%;
  justify-content: center;
  margin-top: 16px;
}

.categoryButton {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  width: 25%;

  &[data-is-selected='true'] {
    opacity: 0.5;
  }
}

.checkBoxList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin-top: 16px;
  row-gap: 10px;
}
