@use 'abstracts/index' as *;

.container {
  padding: 16px;
  position: relative;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.categoryList {
  display: flex;
  gap: 0 1%;
  justify-content: center;
  margin-top: 16px;
}

.categoryButton {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  width: 25%;

  &[data-is-selected='true'] {
    opacity: 0.5;
  }
}

.checkBoxList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin-top: 16px;
  row-gap: 10px;
}

.loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: opacity 0.35s var(--ease-out-sine);
  width: 100%;

  &[data-is-oerable='false'] {
    background-color: rgba(#000, 0.5);
    opacity: 1;
    pointer-events: auto;
  }
}

.loadingText {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

@keyframes loading {
  to {
    transform: rotate(0.5turn);
  }
}

.loadingIcon {
  animation: loading 1s infinite;
  aspect-ratio: 1;
  border: 8px solid;
  border-color: #fff transparent;
  border-radius: 50%;
  width: 50px;
}
